.body-bg {
  &__container {
    width: 100%;
    height: 100%;
  }

  &__bg {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: opacity 1.5s ease-in-out;

    &--active {
      opacity: 1;
    }

    &:first-child {
      background: no-repeat center center fixed linear-gradient(315deg, #ae320a 19.87%, #f75d2b 80.11%), #0a0e20;
    }

    &:first-child::after {

      @include svg-bg(url("../img/first.svg"));

      @include media-mobile {

        @include svg-bg(url("../img/first.svg"));
      }
    }

    &:nth-child(2) {
      background: no-repeat center center fixed linear-gradient(315deg, #37c058 19.87%, #4bdb6d 80.11%), #0a0e20;
    }

    &:nth-child(2)::after {

      @include svg-bg(url("../img/second.svg"));

      background-position-y: bottom;
    }

    &:nth-child(3) {
      background: no-repeat center center fixed linear-gradient(315deg, #ffc060 19.87%, #ffe79a 80.11%), #0a0e20;
    }

    &:nth-child(3)::after {

      @include svg-bg(url("../img/third.svg"));

      width: 800px;
      height: 1000px;
      background-size: contain;
      background-position-y: bottom;
    }

    &:last-child {
      background: no-repeat center center fixed linear-gradient(315deg, #8fbe15 19.87%, #aad50e 80.11%), #0a0e20;
    }

    &:last-child::after {

      @include svg-bg(url("../img/fourth.svg"));

      background-position-y: bottom;
    }
  }
}
