.info {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  z-index: 1;

  @include media-tablet {
    max-width: 500px;
    align-self: center;
  }

  &__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 24px;

    @include media-tablet {
      font-size: 30px;
      line-height: 42px;
    }

    @include media-mobile {
      font-size: 22px;
      line-height: 28px;
    }
  }
}
