.main-header {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  @include media-mobile {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;

    @include media-mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__logo-link {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__sign-up {
    font-size: 16px;
    border: 1px #ffffff solid;
    border-radius: 6%;
    padding: 13px 15px;
    overflow: hidden;
    position: relative;

    @include hover-button;
  }
}
