.page-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  &__swiper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__bg {
    background: linear-gradient(315deg, #ae320a 19.87%, #f75d2b 80.11%), #0a0e20;
  }

  &__bg:nth-child(2) {
    background: linear-gradient(315deg, #37c058 19.87%, #4bdb6d 80.11%), #0a0e20;
  }

  &__bg:nth-child(3) {
    background: linear-gradient(315deg, #ffc060 19.87%, #ffe79a 80.11%), #0a0e20;
  }

  &__bg:last-child {
    background: linear-gradient(315deg, #8fbe15 19.87%, #aad50e 80.11%), #0a0e20;
  }
}
