.slider {
  max-width: 350px;
  width: 100%;
  margin-top: -20px;
  position: relative;

  @include media-tablet {
    max-width: 330px;
  }

  @include media-mobile {
    margin-top: 20px;
    display: flex;
    align-self: center;
  }

  &__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    border: 1px #ffffff solid;
    padding: 20px 43px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    bottom: 0;

    @include hover-button;

    @include media-tablet {
      font-size: 26px;
      padding: 16px 39px;
    }

    @include media-mobile {
      bottom: 20px;
    }
  }
}
