.terms {
  &--white {
    color: white;
  }

  &--black {
    color: black;
  }

  @include media-mobile {
    margin-bottom: 120px;
  }

  &__item:not(:last-child) {
    margin-bottom: 26px;
  }

  &__item-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    @include media-tablet {
      font-size: 18px;
    }
  }

  &__item-info {
    font-family: $bebas;
    font-size: 96px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.02em;

    @include media-tablet {
      font-size: 80px;
    }

    &--sup {
      position: relative;
    }

    sup {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      position: absolute;
      top: 15px;
      white-space: nowrap;

      @include media-tablet {
        font-size: 20px;
      }
    }
  }
}
