.swiper-container {
  height: 100%;
  padding-top: 20px !important;
}

.swiper-pagination {
  top: 0;
  left: -65px !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px;
  margin-left: 0;
}
