.swiper-container {
  height: 100%;
  padding-top: 20px !important; // Единственный возможный способ зарерайдить стили свайпера в данном и последующих случаях, к сожалению. Долго пыталась сделать красивее.
}

.swiper-pagination {
  top: 0;
  left: -65px !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  opacity: 1;
  margin-right: 16px !important;
  margin-left: 0 !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #000000;
}

@media (max-width: 768px) {
  .swiper-pagination {
    left: 0 !important;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}
