@mixin hover-button {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: white;
    opacity: 0.1;
    z-index: -1;
    transform: translate3d(-101%, 0, 0);
    transition: all 0.5s;
  }

  &:hover::after {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
  }
}
